#outer-gamelist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gamelist-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gamelist-card {
  margin: 10px;
}

#gamelist-card-online {
  margin: 10px;
  cursor: pointer;
}

#home-wall-info {
  width: 300px;
  cursor: pointer;
}

/* game wall choose */
#gamewall-choose-image {
  font-size: large;
}

#gamewall-wall-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 30px;
}

#gamewall-container {
  width: 700px;
}

#outer-gamewall-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameadd-container {
  width: 1000px;
}
#outer-gameadd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
