* {
  font-family: "Noto Sans TC";
  font-size: 16px;
}

.ant-btn {
  background-color: rgb(213, 52, 35);
  color: #ffff;
}

/* .app {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
} */

@import "wallroom.css";
@import "home.css";
@import "gamedetail.css";
@import "gamelist.css";
@import "videoupload.css";
@import "walladdtag.css";
